{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>

<body>
    <div id="signinSection">
        <div class="container-fluid">
            <div class="">

                <div class="sign_in_bar d-flex flex-row p-3">
                    <p class="company mr-auto">WaterWattz</p>
                    <div class="ml-auto d-flex flex-row justify-content-end">
                        <p class="member d-none d-md-block mt-2">Already have an account?</p>
                        <button class="login_button">Login</button>
                    </div>
                </div>

                <div class="sign_in_page">
                    <div class="text-center col-12">
                        <h1>Sign Up</h1>
                        {% if error_message %}
                            <p class="error">{{ error_message }}</p>
                        {% endif %}
                    </div>
                    <div class="d-flex flex-row justify-content-center">
                        <div class="sign_card shadow text-center d-flex flex-column justify-content-center">

<form method="post">
    {% csrf_token %}

    <div class="form-group">
        <input class="p-2 m-2" size="40" type="text" name="username" placeholder="Username">
    </div>
    <div class="form-group">
        <input class="p-2 m-2" size="40" type="email" name="email" placeholder="Email">
    </div>
    <div class="form-group">
        <input class="p-2 m-2" size="40" type="password" name="password" placeholder="Password" />
    </div>
    <div class="form-group">
        <input class="p-2 m-2" size="40" type="password" name="password2" placeholder="Confirm Password" />
    </div>
    <div class="form-group">
        <label class="pt-2">Choose your account type</label>
        <div>
            <input class="p-2 m-2" type="radio" id="household" name="user_type" value="household">
            <label for="household">Household</label>
            <input class="p-2 m-2" type="radio" id="industry" name="user_type" value="industry">
            <label for="industry">Industry</label>
            <input class="p-2 m-2 mb-5" type="radio" id="municipal" name="user_type" value="municipal">
            <label for="municipal">Municipal</label>
        </div>
    </div>

    <button type="submit" class="sign_button">Sign Up</button>
</form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
